@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #171717;
  --spotter-green: #4D6A4E;
}

@theme inline {
  --color-background: var(--white);
  --color-foreground: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body.basket-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body {
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
}

h2 {
  font-family: var(--font-dm-sans), sans-serif;
}

h3 {
  font-family: var(--font-dm-sans), sans-serif;
}

a {
  font-family: var(--font-dm-sans);
  font-weight: 700;
}

p {
  font-family: var(--font-roboto);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
